<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<%= form_for @game do |f| %>
  Home Team <%= f.text_field :home %>
  Away Team <%= f.text_field :away %>
  <%= f.submit %>
  <% end %>

